/* EstiloCardbox*/
.card-img-top {
  padding: 30px;
  transition: transform .8s;
  width: 250px;
  height: 250px;
  margin: 0 auto; }

.card-img-top:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3); }

.card-group {
  height: 200px;
  width: 700px;
  margin: 200px 0px; }

.animacion {
  width: 200px;
  height: 250px;
  transition: all 2s; }

.animacion:hover {
  height: 300px; }

.BoxTaller {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.Portada {
  border: 2px solid red;
  padding: 10px;
  border-radius: 25px; }

.FormatoTaller {
  border-top: none;
  background-color: black;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  position: sticky; }

.carousel-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  text-align: center;
  border-radius: 15px; }

/* Estilos Productos*/
.section {
  display: flex;
  background-color: white;
  color: white;
  font-size: 15px;
  background-color: white;
  margin-top: 100px;
  margin-button: 100px; }

/*EstiloTexto*/
h1 {
  font-weight: 900;
  text-align: center;
  color: black;
  font-family: Noto sans jP, sans-serif; }

h2 {
  font-family: Noto sans jP, sans-serif;
  color: black; }

h3 {
  font-family: Noto sans jP, sans-serif;
  color: black; }

h5 {
  color: black;
  font-family: Noto sans jP, sans-serif;
  font-size: 1rem; }

h4 {
  color: black;
  font-weight: bold;
  font-family: Noto sans jP, sans-serif;
  font-size: 2rem; }

p {
  color: black;
  font-family: Noto sans jP, sans-serif;
  font-size: 1rem;
  text-align: justify; }

h6 {
  font-family: Noto sans jP, sans-serif;
  font-size: 1rem;
  text-align: left; }

/*CSS*/
html {
  font-family: Noto sans jP, sans-serif;
  font-size: 1rem;
  background-color: #E5E4E4; }

.conteiner {
  width: 80%;
  margin: 0 auto;
  overflow: hidden; }

@media screen and (max-width: 800px) {
  sidenav {
    width: 100%; }
  section {
    width: 100%; }
  header {
    width: 100%; } }

a:link {
  color: black; }

a:visited {
  color: black; }

a:active {
  color: black; }

a:hover {
  color: black; }

.header__logo {
  grid-area: logo;
  font-weight: 500;
  text-align: center;
  color: black;
  font-family: Noto sans jP, sans-serif;
  justify-self: start; }

.header__logo--uppercase {
  text-transform: uppercase; }

.header__nav {
  grid-area: header;
  display: inline-block;
  background-color: white;
  color: white;
  padding: 5px;
  font-size: 20px; }

.Footer__logo {
  grid-area: footer;
  font-weight: 500;
  color: black;
  font-family: Noto sans jP sans-serif; }

.header {
  grid-area: header;
  display: inline-block;
  background-color: white;
  color: white;
  padding: 10px;
  font-size: 20px;
  background-color: white;
  padding: 5px;
  margin: 5px; }

.item {
  display: inline-block;
  background-color: white;
  color: white;
  font-size: 15px;
  background-color: white;
  padding: 5px;
  margin: 5px; }

#menu {
  text-decoration: none; }

.ColorFondo {
  background-color: white; }

.sectionindex {
  margin-top: 125px;
  margin-button: 140px; }

.sidenavindex {
  margin-top: 125px;
  margin-button: 140px; }

.form {
  border: 2px;
  color: black; }

.sidenavcontacto {
  margin-top: 125px;
  margin-button: 3rm; }

footer {
  margin-top: 125px;
  background-color: #EEEEEE;
  padding: 0 20px 20px 20px; }
