/*EstiloTexto*/


h1{
    font-weight: 900;
    text-align: center;
    color: black;
    font-family: Noto sans jP, sans-serif;
}

h2{
  font-family: Noto sans jP, sans-serif;
  color: black;
}

h3{ 
 font-family: Noto sans jP, sans-serif;
 color: black;
}

h5{ 
 color: black;
 font-family: Noto sans jP, sans-serif;
 font-size: 1rem;

}

h4{
 color: black;
 font-weight: bold;
 font-family: Noto sans jP, sans-serif;
 font-size: 2rem;

 }


p{ 
 color: black;
 font-family: Noto sans jP, sans-serif;
 font-size: 1rem;
 text-align: justify;


}

h6{ 
 font-family: Noto sans jP, sans-serif;
 font-size: 1rem;
 text-align: left;
}

